* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
button,
input {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

button {
	padding: 8px;
}

#root {
	min-height: 100vh;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav {
	font-weight: 600;
	background-color: rgb(255, 87, 87);
	color: white;
	padding: 16px;

	width: 100%;
	display: flex;
	justify-content: center;
}

.nav ul {
	width: 100%;
	max-width: 700px;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: white;
}

.content,
.cart-section {
	width: 100%;

	background-color: rgb(255, 255, 255);
	color: #272727;
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;

	padding: 16px;
}

.content > * {
	width: 100%;
	max-width: 700px;
}

.homePara {
	padding: 8px;
}

hr {
	opacity: 30%;
}
.shopItemForm form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.quantityInput {
	display: flex;
	justify-content: center;
	align-items: center;
}

.quantityInput label {
	font-size: 13px;
	text-align: end;
}

.quantityInput input {
	width: 37px;
	text-align: center;
	border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}

.shopItemInfo {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.homeImage {
	max-width: 700px;
}

.footer {
	background-color: rgb(56, 56, 56);
	color: white;

	display: flex;

	position: fixed;
	bottom: 0;
	width: 100%;
}

.shopItem,
.cartItem,
.historyItem {
	background-color: rgb(255, 255, 255);
	color: #272727;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

	padding: 32px;

	display: flex;
	gap: 16px;
	align-items: center;
}

.shopItemLeft,
.cartItemLeft {
	flex: 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-right: 16px;
}

.shopItemLeft form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.shopItemRight,
.cartItemRight {
	flex: 1;

	display: flex;
	flex-direction: column;
	gap: 8px;
}

.shopItem img,
.cartItem img {
	width: 100px;
	max-width: 100px;
}

.cartItem {
	display: flex;
}

.cartItemQuantityDiv {
	display: flex;
	align-items: center;
	gap: 8px;
}

.cartItem input {
	width: 50px;
	text-align: center;
}

.removeButton {
	padding: 0 8px;
}

.cartItemCheckout {
	display: flex;
	margin-top: 16px;
	align-items: center;
	gap: 16px;
}

.cartItemCheckout p {
	padding: 8px;
	outline: 1px solid rgb(255, 87, 87);
}

.cartItemCheckout button {
	max-width: fit-content;
	padding-right: 32px;
	padding-left: 32px;
}

.historyItem img {
	max-width: 50px;
}

.content.cart {
	height: 100%;
	justify-content: space-between;
}

.history-section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.historyItem {
	padding: 16px;
}

.historyItemRight {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.historyItemRight h3 {
	font-weight: 300;
}

.footer {
	display: flex;
	gap: 8px;
	padding: 8px;
	font-weight: 200;
}

.footer button {
	padding: 0px 8px;
	margin-left: 8px;
}

.footer strong {
	font-weight: 300;
}

.footer .addBalanceButton {
	cursor: pointer;
}
.footer input[type='number']::-webkit-outer-spin-button,
.footer input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.footer input {
	text-align: center;
}
