* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
button,
input {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

#root {
	min-height: 100vh;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav {
	font-weight: 600;
	background-color: rgb(255, 87, 87);
	color: white;
	padding: 16px;

	width: 100%;
	display: flex;
	justify-content: center;
}

.nav ul {
	width: 100%;
	max-width: 700px;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: white;
}

.content {
	background-color: rgb(27, 27, 27);
	color: white;
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.homeImage {
	width: 100vw;
	max-width: 700px;
}

.footer {
	background-color: rgb(56, 56, 56);
	color: white;

	display: flex;

	position: fixed;
	bottom: 0;
	width: 100%;
}

.shopItem {
	padding: 20px;
}

.shopItem img,
.cartItem img {
	max-width: 100px;
}

.shopItem input {
	width: 2.5rem;
}

.historyItem img {
	max-width: 50px;
}

.content.cart {
	height: 100%;
	justify-content: space-between;
}
